extends layout 
block content 
    .login-panel 
        img(src="img/login-images.jpeg")
        include includes/login-from
    .register-panel 
        img(src="img/register-img.png")
        include includes/register-from